.navbar-nav {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-color: rgb(65, 105, 225);
    padding: 18.5px 0;
}

.main-links {
    display: flex;
    flex-direction: row;
}

.navbar-nav .nav-item .nav-link {
    text-decoration: none;
    transition: all 0.5s;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
}

.main-links .nav-item .active {
    background-color: rgb(147, 174, 254);
}

.nav-item img {
    width: 35px;
    height: 35px;
}